$color-claro: #F2F2F2;
$color-oscuro: #0D0D0D;
$color-redes: #BFA473;
$color-boton: #343a40;
$color-link: #A6A6A6;
$margen-body:20px;
$fuente1-letra:'Fjalla One', sans-serif;
$fuente2-letra:'Quicksand', sans-serif;
$tamaño-h1:40px;
$ancho-logo:60px;
$tamaño-redes-header:20px;
